@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
.container-fluid{
    padding: 2% 10%;
}

#title{
    background-color: #ff4c68;
    color: white;
}

h1{
    font-family:'Montserrat', sans-serif;
    font-weight: 3rem;
    line-height: 1.5;
}

/* Navbar */

.navbar-brand{
    font-family: "Ubuntu";
    color: white;
    font-weight: 900;
    font-size: 28px;
}

.nav-item{
    padding: 0 30px;
}

.nav-link{
    color: white;
    font-size: 20px;
}

/* download buttons */

.btn-space{
    margin: 0 10%;
}

/* Image */

.title-image{
    padding-top:10%;
    padding-bottom: 0;
    transform: rotate(30deg);
    width: 40%;
    height: 80%;
}

.custom-height{
   overflow: hidden;
    height: 500px;
}

/* Feature Section */
#features{
    padding: 2% 5%;
}

.feature-box{
    text-align: center;
    padding: 5%;
}
